<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gardens</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/garden" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
            <a href="/garden/{{garden.id}}/edit" class="btn btn-info">Edit</a>
            <a href="/garden/{{garden.id}}/delete" class="btn btn-info">Delete</a>
    </div>
    </nav>
<sub-nav>
    <div class="d-flex justify-content-between align-items-center col-12"><h4>Garden</h4></div>
</sub-nav>

<main>
    <div class="messages">
        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

</nav>
<div class="card col-10 mx-auto my-5">
    <div class="card-body" style="background-color: rgb(228, 240, 230);">
        <h2 class="card-title" style="color:#557555">{{garden.crop}} , {{garden.variety}}</h2>
        <p class="card-text">Planted on : {{garden.date_planted}}</p>
        <p class="card-text">Days until Harvest :  {{garden.days_to_harvest}}</p>
        <p class="card-text">Notes:   {{garden.notes}}</p>
    </div>
</div>

</main>
</body>
